*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
<string name="web_client_id">822562946606-4fpl20p879lmb919sndrobljbck1ajs6.apps.googleusercontent.com</string>

